:root {
    --primary-color: #34E4EA;  
    --secondary-color: #0EB1D2; 
    --accent1-color: #8AB9B5;  
    --accent2-color: #2B4141;  
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative; 
    height: 100vh; 
    background-image: url('your-image.jpg'); 
    background-size: 100vw auto;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    color: var(--primary-color);
    text-align: center;
    position: absolute; 
    top: 20%;  
    left: 50%;
    transform: translateX(-50%); 
    margin: 0;
}


.hero article {
    position: absolute; 
    top: 70%; 
    left: 50%;
    transform: translateX(-50%); 
    width: 50%; 
    background-color: rgba(43, 2, 253, 0.5); 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


.hero article img {
    float: right; 
    margin-left: 5px; 
    width: 30%; 
}

.sociallinks {
    text-decoration: none; 

}